############################
# MAVEN
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# LOGS
############################
*.log
logs/
*.out

############################
# SPRING BOOT
############################
*.pid
*.seed
*.pid.lock

############################
# ENV
############################
.env
.env.local
.env.*

############################
# DATABASE
############################
*.db
*.sqlite

############################
# IDE - INTELLIJ
############################
.idea/
*.iml
*.ipr
*.iws

############################
# IDE - VSCODE
############################
.vscode/

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# TEMP FILES
############################
tmp/
temp/

############################
# BUILD FILES
############################
build/

############################
# NODE (nel caso in futuro)
############################
node_modules/

############################
# DIST (nel caso in futuro)
############################
dist/